@import '~empiricus-css/src/assets/scss/vars.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  height: 60px;
  a {
    font-size: 14px;
    text-align: center;
  }
}
